<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
</head>

<body>
    <h1>Register</h1>
    <form action="" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text" />
        <!-- <select name="course">
            <option disabled selected>Course</option>
            <option value="Python">Python</option>
            <option value="Web">Web</option>
            <option value="Cybersecurity">Cybersecurity</option>
        </select> -->

        <div>
            {% for course in courses %}
            <label>
                <input name="course" type="radio" value="{{ course }}" /> {{ course }}
            </label>
            {% endfor %}
        </div>
        <div>
            <input type="submit" value="Register" />
        </div>

    </form>
</body>

</html>